/*--------------------About firefox ---------------------------------*/
@-moz-document url("chrome://browser/content/aboutDialog.xul") {
	#leftBox {
		background-image: url("foxy.gif") !important;
		background-position: left !important;
		background-repeat: no-repeat !important;
	}

	#aboutDialogContainer {
		background-image: url("spacex.jpg") !important;
		border: none !important;
		font-family: Fira Sans !important;
		font-size: inherit !important;
		color: dodgerblue !important;
	}

	#aboutDialogContainer {
		min-height: 350px !important;
		max-height: 400px !important;
	}

	#bottomBox {
		background: none !important;
	}
}

#update-available-whats-new,
.text-link {
	color: white !important;
	font-style: normal !important;
}
