/*------ COOKIE AND HISTORY AUTODELETE ADDONS ------*/
@-moz-document url-prefix(moz-extension://42c3cb4d-6935-43d1-9085-c8fca6876512/) {
#layout, body {background: #15181d !important; color: #ccc !important}

h2, h1 {color: #fff !important}

label::before {filter: invert(90%)}

.btn.btn-light, .nav-link.active, .alert.alert-primary {
	background: #2b323b !important; 
	border-color: #20252c !important;
	color: #fff !important}

.btn.btn-light path {fill: #ddd !important}
.btn.btn-light:hover {background: #20252c !important}

.row.nav.nav-tabs {border-color: #20252c !important}

.form-control, #formText {background: #26292e !important; color: #ccc !important}
.form-control:not(focus), #formText:not(focus) {border-color: #37403f !important}

.table-striped > tbody > tr:nth-of-type(2n+1) {background: #222 !important}
.table-striped > tbody > tr:hover {background: #26292e !important}

.table-bordered, .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, 
.table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, 
.table-bordered > thead > tr > th {border-color: #37403f !important}

.card {background-color: #20252c !important}

label:hover {background: rgba(255,255,255,0.1) !important}
}



/*------ ONETAB ADDON ------*//*
@-moz-document url-prefix(moz-extension://TYPE-THE-UUID-OF-ONETAB-ADDON-HERE/),
url-prefix(https://www.one-tab.com/page/) {
html, body {background: #303030 !important}

#settingsDiv {background: #444 !important; border: 1px solid #666 !important}

div {color: #ccc !important}

#contentAreaDiv > div {border-color: #666 !important}

a:link, a, a:visited, .clickable {color: #09f !important}
a:hover, .clickable:hover {color: #0ff !important}
a:active, .clickable:active {color: #0050aa !important}

img[src="images/cross.png"] {filter: brightness(200%)}

textarea {
	-moz-appearance: none !important; 
	background-color: #222 !important; 
	color: #aaa !important;
	border: 1px solid #555 !important}

label::before {filter: invert(81%) hue-rotate(170deg)}

*//* Checkbox coloring *//*
input[type="checkbox"] {
  -moz-appearance: none !important;
  border: 1px solid #666 !important;
  background-color: #444 !important;
  transition: color 0.3s;
  min-width: 16px;
  min-height: 16px;
  margin-bottom: 0 !important}

input[type="checkbox"]:not([disabled]):hover {
  box-shadow: 0 0 4px #0084ff !important;
  border-color: #0084ff !important}

input[type="checkbox"]:checked {
  background: #444 url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15px" height="15px" viewBox="0 0 16 16" ><path fill="rgb(200,200,200)" d="M 13.09,2.87 C 13.09,2.87 6.00,11.00 6.00,11.00 6.00,11.00 2.00,9.00 2.00,9.00 4.25,12.81 7.00,14.00 7.00,14.00 9.24,10.42 12.04,7.39 13.09,2.87 Z" /></svg>') no-repeat center center !important}
}


/*------ UBLOCK ORIGIN BLOCKING PAGE ------*/
@-moz-document url-prefix(moz-extension://0b960815-4518-42eb-8813-b5b7b03d71dc/document-blocked.html){

html, body {background-color: #222 !important}

body {margin-top: 10em}

p, span {color: #ccc !important}

.fa {color: #fa0 !important}

a:link {color: #0084ff !important}
a:hover {color: #0ff !important}
a:active {color: #0050aa !important}

button {
  -moz-appearance: none !important;
  border-radius: 3px !important;
  background: #333 !important;
  color: #ddd !important;
  border: none !important}

button:hover {
  background: #111 !important;
  color: #ddd !important}
}

/*------ UBLOCK ORIGIN CONTROL PANEL TOP BUTTONS ------*/
@-moz-document url-prefix(moz-extension://0b960815-4518-42eb-8813-b5b7b03d71dc/dashboard.html) {

#dashboard-nav-widgets {background: #222 !important; border-bottom: 1px solid black !important}

#dashboard-nav-widgets span {color: #ccc !important}

a {
	background-color: #444 !important; 
	color: #777 !important;
	border: 1px solid black !important;
	border-bottom: 1px solid transparent !important}

a.tabButton.selected {
	background-color: #333 !important; 
	color: #ccc !important;
	border: 1px solid black !important;
	border-bottom: 1px solid transparent !important}
}

/*------ UBLOCK ORIGIN CONTROL PANEL CONTENT PAGES ------*/
@-moz-document url-prefix(moz-extension://0b960815-4518-42eb-8813-b5b7b03d71dc/){
body, html {
	background: #333 !important;
	color: #ccc !important;
}

a:not(.tabButton):link {color: #09f !important}
a:not(.tabButton):visited {color: #0070aa !important}
a:not(.tabButton):hover {color: #0ff !important}
a:not(.tabButton):active {color: #0050aa !important}

a.fa.info, a.fa.mustread, a.fa.support, 
.fa.status.cache, .fa.status.updating {color: #bbb !important}

button:not(.whatisthis):not(#buttonUpdate) {
  -moz-appearance: none !important;
  border-radius: 3px !important;
  background: #555 !important;
  color: #ddd !important;
  border: none !important}

button:not(.whatisthis):not(#buttonUpdate):hover {
  background: #111 !important;
  color: #ddd !important}

button.whatisthis {filter: brightness(200%) !important}

button[disabled] {opacity: 0.5 !important}

#buttonUpdate, button.important {
  -moz-appearance: none !important;
  border-radius: 3px !important;
  background: #ffbb33 !important;
  color: #000 !important;
  border: none !important}

#buttonUpdate:hover, button.important:hover {
  background: #cc8800 !important;
  color: #ddd !important}

.cm-search-widget, .CodeMirror-gutters, 
.CodeMirror-merge-gap {background: #222 !important; border: none !important}

.cm-search-widget {border-bottom: 1px solid #000 !important;}

.CodeMirror, .CodeMirror-merge, .cm-search-widget input {
	-moz-appearance: none !important;
	background: #444 !important; 
	color: #aaa !important; 
	border: none !important}

.CodeMirror-activeline-background {background: #033 !important}

.cm-staticext {color: #0aa !important}

.CodeMirror-line  *|*::selection {background: #055 !important}

.cm-comment {color: #aaa !important}
.cm-staticnetBlock {color: #f62 !important}

a.fa.info.important {color: #fa0 !important}

.fa.status.unsecure, a.fa.remove {color: #f33 !important}

textarea, .whatisthis-expanded {
	-moz-appearance: none !important; 
	background-color: #222 !important; 
	color: #aaa !important;
	border: 2px solid #000 !important}

code {background-color: #222 !important}

.rulesContainer li:nth-child(odd) {background-color: #222 !important}
.rulesContainer li:nth-child(even) {background-color: #444 !important}

input[type=number], input[type="text"] {
	-moz-appearance: none !important;
	background: #222 !important;
	border: 1px solid #000 !important;
	color: #ccc !important}

/* Checkbox coloring */
input[type="checkbox"] {
  -moz-appearance: none !important;
  border: 1px solid #666 !important;
  background-color: #444 !important;
  transition: color 0.3s;
  min-width: 16px;
  min-height: 16px;
  margin-bottom: 0 !important}

input[type="checkbox"]:not([disabled]):hover {
  box-shadow: 0 0 4px #0084ff !important;
  border-color: #0084ff !important}

input[type="checkbox"]:checked {
  background: #444 url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15px" height="15px" viewBox="0 0 16 16" ><path fill="rgb(200,200,200)" d="M 13.09,2.87 C 13.09,2.87 6.00,11.00 6.00,11.00 6.00,11.00 2.00,9.00 2.00,9.00 4.25,12.81 7.00,14.00 7.00,14.00 9.24,10.42 12.04,7.39 13.09,2.87 Z" /></svg>') no-repeat center center !important}

/* Select boxes coloring */
select {
  -moz-appearance: none !important;
  background: #555 url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M434.574 488L430.5 492.147 426.428 488 425 489.399 430.5 494.999 436 489.399z' transform='translate(-425 -488)' fill='%23cccccc' fill-rule='evenodd'/%3E%3C/svg%3E") no-repeat calc(100% - 5px) 50% !important;
  border: none !important;
  padding: 3px;
  color: #ccc !important}

select:hover {
  background: #333 url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M434.574 488L430.5 492.147 426.428 488 425 489.399 430.5 494.999 436 489.399z' transform='translate(-425 -488)' fill='%23cccccc' fill-rule='evenodd'/%3E%3C/svg%3E") no-repeat calc(100% - 5px) 50% !important;
  color: #fff !important}

select .menulist-dropmarker {display: none}
}

/*------ UBLOCK ORIGIN MENU POPUP ------*/
@-moz-document url-prefix(moz-extension://0b960815-4518-42eb-8813-b5b7b03d71dc/popup.html) {

#appinfo {background: #111 !important}

#refresh, #saveRules, #revertRules {background-color: #222 !important; border: 1px solid #000 !important}

/* Basic menu */
.tooltipContainer, #panes {background-color: #333 !important}

.tool.enabled:hover {color: #fff !important}

p {color: #ccc !important}
.statValue {color: #888 !important}

h2 {
	background-color: #222 !important; 
	color: #ddd !important}

div:not(.tooltipContainer):not(#panes):not(#rulesetTools):not(#refresh) {
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) !important}

span[data-i18n-tip="popupTipRevertRules"], span[data-i18n-tip="popupTipSaveRules"] {
	background: #222 !important;
	border: 1px solid black !important}

span[data-src="/"], span[data-src="."] {
	border-left: 1px solid #000 !important}

#extraTools, #tooltip {
	background: #ddd !important;
	color: #ccc !important}

#extraTools span:hover {color: #888 !important}

/* Advanced menu */
#firewallContainer span {
	border-bottom: 1px solid #000 !important;
	color: #ccc !important}

#firewallContainer span:hover {background-image: linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.2)) !important}

#firewallContainer span span, #firewallContainer span span:hover  {
	background-image: none !important;
	border-bottom: 1px solid transparent !important}
}

/*------ UBLOCK ORIGIN UI LOGGER ------*/
@-moz-document url-prefix(moz-extension://0b960815-4518-42eb-8813-b5b7b03d71dc/logger-ui.html) {

body, .permatoolbar, .vscrollable, table, html {background: #222 !important}

.button, input, textarea, .preview span {
	-moz-appearance: none !important;
	background: #444 !important;
	border: 1px solid #000 !important}

#info .fa-icon_info-circle, #settings .fa-icon_cog, 
#loggerExport .fa-icon_clipboard {fill: #000 !important}

#info:hover .fa-icon_info-circle, #settings:hover .fa-icon_cog, 
#loggerExport:hover .fa-icon_clipboard {fill: #ddd !important}

#modalOverlayClose, .tools .fa-icon {background: transparent !important; fill: #ddd !important}
#modalOverlayClose svg {stroke: #ddd !important}

#vwRenderer .logEntry > div > span, #filterExprPicker > div, 
#netFilteringDialog > .panes > .details > div, .panes .details span, 
.panes .entry, .action, .dynamic .toolbar span {border-color: #000 !important}

.logEntry, #netFilteringDialog > .panes > .details > div, .panes .entry {background: rgba(255,255,255,0.1) !important}

.logEntry:hover, .panes .entry.row:hover {background: rgba(255,255,255,0.2) !important}

#loggerExportDialog .options span[data-i18n] {border-color: #888 !important}
#loggerExportDialog .options span[data-i18n]:hover, .tools .fa-icon:hover {background-color: #666 !important}

#filterExprPicker span[data-filtex]:not(.on):hover {
	background-color: #666 !important; 
	border-color: #888 !important}

#loggerExportDialog .options span.on[data-i18n], #filterExprPicker .on {background-color: #888 !important}

input, .logEntry, #modalOverlayContainer, textarea, #filterExprPicker {color: #ddd !important}

#modalOverlayContainer {background-color: #333 !important}

#netInspector div#popupContainer {
	background: #333 !important; 
	border: 1px solid #111 !important}

#popupContainer > div {background: #555 !important}

.toolbar td, #filterExprPicker {
	border: none !important;
	background: #444 !important}

.headers {border-bottom: 1px solid #000 !important}

.toolbar span#saveRules {	
	background-color: #444 !important; 
	border: 1px solid #000 !important;
	color: #eee !important}

.toolbar span#saveRules:hover {	
	background-color: #222 !important;
	color: #fff !important}

button.important {
  -moz-appearance: none !important;
  border-radius: 3px !important;
  background: #ffbb33 !important;
  color: #000 !important;
  border: none !important}

button.important:hover {
  background: #cc8800 !important;
  color: #ddd !important}

.action .noop:hover, .action.noop.own {background: #ddd !important}

.header.dynamic, .header.static, .header.details {
	background-color: #222 !important; 
	color: #777 !important;
	border: 1px solid black !important;
	border-bottom: 1px solid transparent !important}

#netFilteringDialog[data-pane="dynamic"] .header.dynamic, 
#netFilteringDialog[data-pane="static"] .header.static, 
#netFilteringDialog[data-pane="details"] .header.details {
	background-color: #333 !important; 
	color: #ccc !important;
	border: 1px solid black !important;
	border-bottom: 1px solid transparent !important}

#modalOverlayContainer a:link {color: #0084ff !important}
#modalOverlayContainer a:hover {color: #0ff !important}
#modalOverlayContainer a:active {color: #0050aa !important}

.button.disabled {opacity: 0.5 !important}

#domTree, #domTree ul {background: #222 !important}

#domTree .isCosmeticHide, #domTree .isCosmeticHide li {background: rgba(255, 150, 150, 0.2) !important}
}


/*------ DOWNLOAD MANAGER (S3) ADDON CONFIGURATION PAGE ------*//*
@-moz-document url-prefix(moz-extension://TYPE-UUID-OF-DOWNLOAD-MANAGER-(S3)-HERE/content/options.html),
url-prefix(moz-extension://TYPE-UUID-OF-DOWNLOAD-MANAGER-(S3)-HERE/content/create_new_downloads.html) {
body, html {background: #222 !important; color: #fff !important}

#tabsBox .tabsBox {background: #333 !important; border: 1px solid #555 !important}

#tabs a:not(.selected) {background-color: #383838 !important; color: #aaa !important}

#tabs a.selected, #generalTab, #appearanceTab, #virusScanTab,
#download_historyTab, .caption span {background-color: #444 !important; color: #ddd !important}

#tabs-generalTab a:not(.selected), #appearanceTab a:not(.selected) 
{background-color: #505050 !important; color: #aaa !important}

#tabs-generalTab a.selected, #generalTab--features, #generalTab--statusMode, #generalTab--queue,
#tabs-appearanceTab a.selected, #appearanceTab--style, #appearanceTab--layout, #generalTab--contextMenu
{background-color: #555 !important; color: #ddd !important; border: none !important}

.groupbox {border: 1px solid #666 !important; box-shadow: 0 0 10px #000 !important}
.groupbox:hover:not([disabled]) {border: 1px solid #AF5CCB !important; box-shadow: 0 0 10px #712a89 !important}

.groupbox a:link, .groupbox a {color: #09f !important}
.groupbox a:visited {color: #0070aa !important}
.groupbox a:hover {color: #0ff !important}
.groupbox a:active {color: #0050aa !important}

input:not([type="number"]):not([type="checkbox"]):not([type="button"]):not([type="radio"]), textarea {
	-moz-appearance: none !important; 
	background: #323232 !important; 
	color: #ddd !important;
	border: 1px solid #666 !important}

#customStyle_form table.table_colors tr {background: none !important}

#customStyle_form .table_colors input:hover,
#appearanceTab--layout input[type="color"]:hover {border: 1px solid #fff !important}

#current_locale {border: 1px solid #666 !important}
	
.caption > div {
	border-radius: 6px !important; 
	background: #666 !important; 
	border: none !important}

#exclude_links_placeholder > div, 
#exclude_links_placeholder {border: none !important; background: none !important}

button, input[type="button"] {  
  -moz-appearance: none !important;
  border-radius: 3px !important;
  background-color: #666 !important;
  color: #ddd !important;
  border: none !important}

button:hover, input[type="button"]:hover {  
  background-color: #222 !important;
  color: #fff !important;
  box-shadow: none !important}

#save_settings, #copy_settings, #load_settings, 
#reset_settings {padding: 0.5em !important}

/* Checkbox coloring *//*
input[type="checkbox"] {
  -moz-appearance: none !important;
  border: 1px solid #666 !important;
  background-color: #444 !important;
  transition: color 0.3s;
  min-width: 16px;
  min-height: 16px;
  margin-bottom: 0 !important}

input[type="checkbox"]:not([disabled]):hover {
  box-shadow: 0 0 4px #0084ff !important;
  border-color: #0084ff !important}

input[type="checkbox"]:checked {
  background: #444 url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15px" height="15px" viewBox="0 0 16 16" ><path fill="rgb(200,200,200)" d="M 13.09,2.87 C 13.09,2.87 6.00,11.00 6.00,11.00 6.00,11.00 2.00,9.00 2.00,9.00 4.25,12.81 7.00,14.00 7.00,14.00 9.24,10.42 12.04,7.39 13.09,2.87 Z" /></svg>') no-repeat center center !important}

/* Select boxes coloring *//*
select {
  -moz-appearance: none !important;
  background: #555 url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M434.574 488L430.5 492.147 426.428 488 425 489.399 430.5 494.999 436 489.399z' transform='translate(-425 -488)' fill='%23cccccc' fill-rule='evenodd'/%3E%3C/svg%3E") no-repeat calc(100% - 5px) 50% !important;
  border: none !important;
  padding: 3px 10px 3px 3px;
  color: #ccc !important}

select:hover {
  background: #333 url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M434.574 488L430.5 492.147 426.428 488 425 489.399 430.5 494.999 436 489.399z' transform='translate(-425 -488)' fill='%23cccccc' fill-rule='evenodd'/%3E%3C/svg%3E") no-repeat calc(100% - 5px) 50% !important;
  color: #fff !important}

select .menulist-dropmarker {display: none}
}

/*------ DOWNLOAD MANAGER (S3) ADDON DOWNLOADS HISTORY PAGE ------*//*
@-moz-document url-prefix(moz-extension://TYPE-UUID-OF-DOWNLOAD-MANAGER-(S3)-HERE/content/download_history.html),
url-prefix(moz-extension://TYPE-UUID-OF-DOWNLOAD-MANAGER-(S3)-HERE/content/file_checksum.html) {
body, html {background: #333 !important; color: #fff !important}

#download_action_head {background: linear-gradient(#333, #111) !important}

#download_action_head input[type="button"] {
  -moz-appearance: none !important;
  border-radius: 3px !important;
  background-color: #111 !important;
  color: #ddd !important;
  border: none !important}

#download_action_head input[type="button"]:hover {
  background-color: #555 !important;
  color: #fff !important}

#s3downbar_searchbox {
	-moz-appearance: none !important; 
	background: #323232 !important; 
	color: #ddd !important;
	border: 1px solid #666 !important}

#download_list_head {background: linear-gradient(#333, #555) !important}

#download_list_head, #download_list_head div {border-color: #222 !important}

.progress_bar[value] {background-color: #333 !important}

#download_list_box:not([start_draw="true"]) .grid_rows[is_selected="true"] {
	background-color: rgba(32, 96, 32, 0.3) !important;
	color: #53c653 !important}

#download_list_box:not([start_draw="true"]) .grid_rows:hover {
	background-color: rgba(255,255,255, 0.25) !important}

#s3downbar-ibmbeeacmbeeaebmfjpmnlgkhoejinha .contextmenu_box {
	border: 1px solid #000 !important;
	background: #444 !important;
	color: #ddd !important;
	box-shadow: 0 0 10px #000 !important}

#s3downbar-ibmbeeacmbeeaebmfjpmnlgkhoejinha .contextmenu_box .contextmenu_menu:hover {
	background-color: #555 !important;
	color: #fff !important}

/* Checkbox coloring *//*
input[type="checkbox"] {
  -moz-appearance: none !important;
  border: 1px solid #666 !important;
  background-color: #444 !important;
  transition: color 0.3s;
  min-width: 16px;
  min-height: 16px;
  margin-bottom: 0 !important}

input[type="checkbox"]:not([disabled]):hover {
  box-shadow: 0 0 4px #0084ff !important;
  border-color: #0084ff !important}

input[type="checkbox"]:checked {
  background: #444 url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15px" height="15px" viewBox="0 0 16 16" ><path fill="rgb(200,200,200)" d="M 13.09,2.87 C 13.09,2.87 6.00,11.00 6.00,11.00 6.00,11.00 2.00,9.00 2.00,9.00 4.25,12.81 7.00,14.00 7.00,14.00 9.24,10.42 12.04,7.39 13.09,2.87 Z" /></svg>') no-repeat center center !important}
}

/*------ DOWNLOAD MANAGER (S3) ADDON DOWNLOADS POPUP ------*//*
@-moz-document url-prefix(moz-extension://TYPE-UUID-OF-DOWNLOAD-MANAGER-(S3)-HERE/content/popup.html) {
#s3downbar-ibmbeeacmbeeaebmfjpmnlgkhoejinha:not(.s3dmBox) {background-color: #333 !important; color: #fff !important}
#s3downbar_hide_button, #s3downbar_main_menu_button, #s3downbar_clear_button,
#s3downbar_holder_summary_progress {
	background-color: #000 !important; 
	color: #fff !important;
	border-color: #222 !important}

#s3downbar-ibmbeeacmbeeaebmfjpmnlgkhoejinha .contextmenu_box {
	border: 1px solid #000 !important;
	background: #444 !important;
	color: #ddd !important;
	box-shadow: 0 0 10px #000 !important}

#s3downbar-ibmbeeacmbeeaebmfjpmnlgkhoejinha .contextmenu_box .contextmenu_menu:hover {
	background-color: #555 !important;
	color: #fff !important}
}

/*------ DOWNLOAD MANAGER (S3) ADDON INFORMATION BOTTOM BAR ------*//*
@-moz-document url-prefix(http), url-prefix(moz-extension://) {
#s3downbar-ibmbeeacmbeeaebmfjpmnlgkhoejinha .tooltip_box {
	background: linear-gradient(#333, #666) !important;
	color: #ddd !important;
	border: 1px solid #444 !important}

#s3downbar-ibmbeeacmbeeaebmfjpmnlgkhoejinha .contextmenu_box {
  border: 1px solid #000 !important;
  background: #444 !important;
  color: #ddd !important;
  box-shadow: 0 0 10px #000 !important}

#s3downbar-ibmbeeacmbeeaebmfjpmnlgkhoejinha .contextmenu_box .contextmenu_menu:hover {
  background-color: #555 !important;
  color: #fff !important}

#s3downbar_download_tooltip_data_box > .download_data_tooltip_data > tbody > tr > td > div,
#s3downbar_download_tooltip_filename {
  color: #fff !important}

#s3downbar_download_data_list_empty, #s3downbar_download_tooltip_hint_finish,
#s3downbar_download_tooltip_hint_progress, #s3downbar_download_tooltip_to,
#s3downbar_download_tooltip_size, #s3downbar_download_virus_scan_box, #s3downbar_download_tooltip_timeStart,
#s3downbar_download_tooltip_timeEnd, #s3downbar_download_tooltip_speed {color: #aaa !important}

#s3downbar_download_tooltip_data_box input, #s3downbar_download_tooltip_from {background-color: #333 !important; color: #0af !important}
}
