#TabsToolbar, #TabsToolbar-customization-target 
{background: linear-gradient(0deg, #ff79c4 5%,#090909 18%,#3c3c3d 50%,#090909 85%,#ff79c4 95%) !important;}

#nav-bar, #nav-bar-customization-target 
{background: linear-gradient(0deg, #ff79c4 5%,#090909 18%,#3c3c3d 50%,#090909 82%,#ff79c4 95%) !important;}

#PersonalToolbar 
{background: linear-gradient(0deg, #ff79c4 5%,#090909 18%, #2c2c2d 50%,#090909 85%,#ff79c4 95%) !important;}

#addonbar 
{background: linear-gradient(0deg, #ff79c4 5%,#090909 18%,#3c3c3d 50%,#090909 85%,#ff79c4 95%) !important;}

#addonbar_v {background: linear-gradient(90deg, #ff79c4 5%,#090909 18%, #2c2c2d 50%,#090909 85%,#ff79c4 95%) !important;}

#PlacesToolbarItems, #PlacesToolbar, #PlacesToolbarDropIndicatorHolder 
{background: linear-gradient(0deg, #ff79c4 5%,#090909 18%,#3c3c3d 50%,#090909 85%,#ff79c4 95%) !important;}

#pagetitle-bar 
{color: /*#09eaff*/ /*#1dc7f3;*/ #21ff85;    /*#3bfbb2*/  /*#f384cd*/ /*#00ff7f*/}


#status-panel {color: /*#fdff85*/ #1DFFBF !important;}

#main-window:not([sizemode="fullscreen"]) #statuspanel[inactive] #statuspanel-inner::before {
    color: /*#0fe0fe*/ #1DFFBF !important;
}

#statuspanel #statuspanel-label {color: /*#ff6efa*/ #fdff85  !important;}


/******************************************************************************************/
/*********************************   Removals    ******************************************/
/******************************************************************************************/


/*  Removals    */
#back-button, #forward-button {display: none}

/*  Remove Search button from searchbar u can add to toolbars   */
.searchbar-search-button {display: none;}

/*  This makes it look more uniform when activating the bar via F1 & w the color scheme */
#PersonalToolbar {margin-top: -2px}




/* Remove navbar bottom line */
#navigator-toolbox {border: none !important;}
#navigator-toolbox::after {border: none !important;}
#navigator-toolbox::after {border-bottom: 0px !important;}
#nav-bar {box-shadow: none !important;}


/*  Searchbar Customizations    */
#search-container, #searchbar {background: transparent !important; border: 0px !important;}


window#main-window toolbox#navigator-toolbox vbox#titlebar toolbar#toolbar-menubar.browser-toolbar.chromeclass-menubar.titlebar-color.customization-target spacer
{display: none}

/********************************************************************/
/*****************        Toolbarbutton       ***********************/
/********************************************************************/

/*  Hamburger & Overflow Icons  */
#PanelUI-menu-button {list-style-image: url("icey-fox.png") !important;
/*transform: scale(1.2)*/}

/*  This is the id above PanelUI-menu-button    */
#PanelUI-button { 
    -moz-box-ordinal-group: 0 !important;
}

/*  making hamburger menu icon larger - attempt to apply this to the rest of the toolbar icons    */
#PanelUI-menu-button > .toolbarbutton-badge-stack {
    padding: 1px !important;
}

#PanelUI-menu-button > .toolbarbutton-badge-stack > .toolbarbutton-icon {
    width: 23px !important;
    height: 23px !important;
}









/*  Urlbar attempts */    
/* Hide dropdown placeholder */
#urlbar-container:not(:hover) .urlbar-history-dropmarker{ margin-inline-start: -28px; }

/* Fix customization view */
#customization-panelWrapper > .panel-arrowbox > .panel-arrow{ margin-inline-end: initial !important; }




/********************************************************************************/
/************************  Context Menu Removals   ******************************/
/********************************************************************************/
/*  Remove space on left side of context menu items */
#tabContextMenu .menu-text {
  margin-left: -5px !important;
}

/*  Stop menu items from overlapping    */
menupopup[placespopup] > menu > menupopup {
  margin-inline-start: 3px !important;
}

/*  Customize hover BG color of context menu items  */
menupopup[placespopup="true"] .bookmark-item:hover {
  -moz-appearance: none !important;
  background-color: red !important;
}


/*  Removal of unused Context Menu Items    *//*
#context-back, #context-forward, */ 
#context-navigation, #context-savepage, #context-sendpagetodevice {
display: none !important;
}

/*  Remove Separators in context menu   */
#inspect-separator, #context-sep-viewbgimage, #context-sep-viewsource,
#context-sep-ctp, #context-sep-navigation

#context-openlinkprivate, #context-openlinkinusercontext-menu,
#context-sep-open, #context-savelink, #context-searchselect,
#context-sep-sendlinktodevice, #inspect-separator {
    display: none !important;
}


/***************************************************************************/
/****************    Main Menu Items Removal *******************************/
/***************************************************************************/
#appMenu-protection-report-button,
#appMenu-tp-separator,
#appMenu-new-window-button,
#appMenu-private-window-button,
#appMenu-zoom-controls,
#appMenu-fullscreen-button,
#appMenu-edit-controls,
#appMenu-addons-button,
#appMenu-preferences-button,
#appMenu-customize-button,
#appMenu-open-file-button,
#appMenu-save-file-button,
#appMenu-print-button,
#appMenu-find-button,
#appMemu-whatsnew-button,
#appMenu-help-button,
#appMenu-quit-button,
#appMenu-restart-button,
toolbarseparator.sync-ui-item /*  for some reason removing this fixes the layout of the menu*/{
    display: none
}

vbox.panel-subview-body toolbarseparator {
    display: none
}
