/*  ublock-origin   */
#ublock0_raymondhill_net-browser-action {
    list-style-image: url("Shield2.png") !important;
    transform: scale(1.5);
}
/*  nanodefender    */
#_fcf60470-b210-4c17-969e-9ae01491071e_-browser-action {
    list-style-image: url("Netscape.png") !important;
    transform: scale(1.5);
}
/*  nanoadblock */
#_af881826-e0f9-4b97-898a-a416dc473545_-browser-action{
    list-style-image: url("Nero.png") !important;
    transform: scale(1.5);
}
/*  privacy-badger  */
#jid1-mnnxcxisbpnsxq_jetpack-browser-action{
    list-style-image: url("IrfanView.png") !important;
    transform: scale(1.5);
}
/*  Cookie-Autodelete   */
#cookieautodelete_kennydo_com-browser-action{
    list-style-image: url("contribute.png") !important;
    transform: scale(1.5);
}
/*  Decentraleyes   */
#jid1-bofifl9vbdl2zq_jetpack-browser-action{
    list-style-image: url("dreamweaver.png") !important;
    transform: scale(1.5);
}
/*  bitwarden   */*
#_446900e4-71c2-419f-a6a7-df9c091e268b_-browser-action{
    list-style-image: url("Shield.png") !important;
    transform: scale(1.5);
}
/*  dark background light text  */
#jid1-qofqdk4qzufgwq_jetpack-browser-action{
    list-style-image: url("ironcross_1.png") !important;
    transform: scale(1.3);
}
/*  onetab pro  */
#_0b0807b5-9d1e-4be5-9328-871f5eed945e_-browser-action{
    list-style-image: url("AOL.png") !important;
    transform: scale(1.5);
}
/*  Note Taker  */
#note-taker_r01-browser-action{
    list-style-image: url("Notepad.png") !important;
    transform: scale(1.5);
}
/*  restart button  */
#restart-button{
    list-style-image: url("ABCtorrent.png") !important;
    transform: scale(1.5);
}
/*  Browser-Toolbox */
#browser-toolbox-button{
    list-style-image: url("CommandPrompt.png") !important;
    transform: scale(1.5);
}
/*  Xtreme Dload Mngr   */
#browser-mon_xdman_sourceforge_net-browser-action{
    list-style-image: url("breeze.png") !important;
    transform: scale(1.5);
}

/*  Nuke Anything Enhanced  */
#_1ced4832-f06e-413f-aa14-9eb63ad40ace_-browser-action{
    list-style-image: url("Radiation.png") !important;
    transform: scale(1.5);
}

/*  JDownloader */
#jid1-oy8xu5bskzqa6a_jetpack-browser-action{
    list-style-image: url("jdownloader.png") !important;
    transform: scale(1.5);
}
/*  Webpage Highlighter */
#_cd6c4ebf-366e-45a0-98b5-b8217288eed7_-browser-action{
    list-style-image: url("PieChart.png") !important;
    transform: scale(1.5);
}

/*  Youtube Enhancer   */
#enhancerforyoutube_maximerf_addons_mozilla_org-browser-action{
    list-style-image: url("wmp.png") !important;
    transform: scale(1.5);
}

/*  To-Do List  */
#support_todoist_com-browser-action{
    list-style-image: url("CorelDraw.png") !important;
    transform: scale(1.5);
}

/*  Addon Manager   */
#eom-button {
    list-style-image: url("Archlinux-icon-crystal-64.svg") !important;
    transform: scale(1.5);
}

/*  Link Gopher */
#linkgopher_oooninja_com-browser-action{
    list-style-image: url("Winamp.png") !important;
    transform: scale(1.5);
}

/*  delete browsing history */
#_ce9f4b1f-24b8-4e9a-9051-b9e472b1b2f2_-browser-action{
    list-style-image: url("Trash_full.png") !important;
    transform: scale(1.5);
}

/*  clear urls  */
#_74145f27-f039-47ce-a470-a662b129930a_-browser-action{
    list-style-image: url("Picasa.png") !important;
    transform: scale(1.5);
}

/*  Save HTML Page  */
#_531906d3-e22f-4a6c-a102-8057b88a1a63_-browser-action{
    list-style-image: url("disk.png") !important;
    transform: scale(1.5);
}

/*  Privacy Possom  */
#woop-noopscoopsnsxq_jetpack-browser-action{
    list-style-image: url("Publisher.png") !important;
    transform: scale(1.5);
}

/*  Tabby   */
#tabby_whatsyouridea_com-browser-action{
    list-style-image: url("ktorrent2.png") !important;
    transform: scale(1.25);
}

/*  Simple Tab Groups   */
#simple-tab-groups_drive4ik-browser-action{
    list-style-image: url("gameranger.png") !important;
    transform: scale(1.5);
}

/*  QuickFox Notes Custom Addon */
#QuickFoxNotes-toolbar-button{
    list-style-image: url("internet.png") !important;
    transform: scale(1.5);
}



/*  Toggle DarkMode */
#toggledarkmode_example_com-browser-action {
    list-style-image: url("Google_Chrome.png") !important;
    transform: scale(1.5);
}

/*  DownThemAll */
#_ddc359d1-844a-42a7-9aa1-88a850a938a8_-browser-action {
    list-style-image: url("browser_1.png") !important;
    transform: scale(1.5);
}

/*  Download Statusbar  */
#s3download_statusbar-browser-action {
    list-style-image: url("grabit.png") !important;
    transform: scale(1.5);
}

/*  Duplicate Tabs  */
#jid0-rvyt2rgwfm8q5ywxixahyaeo5qg_jetpack-browser-action {
    list-style-image: url("Callumglow Network.png") !important;
    transform: scale(1.5);
}

/*  Boomark Duplicates  */
#bookmarkdupes_martin-vaeth_org-browser-action {
    list-style-image: url("flash_remoting.png") !important;
    transform: scale(1.5);
}

/*  Tab Title Renamer   */
#_e855175b-f84a-429d-85d6-a61831c8291c_-browser-action {
    list-style-image: url("FusionOne.png") !important;
    transform: scale(1.5);
}

/*  Cleaar Cache    */
#clearcache_michel_de_almeida-browser-action {
    list-style-image: url("Recycle_Bin_Full.png") !important;
    transform: scale(1.5);
}


/*  AllTabs Helper  */
#alltabshelper_alltabshelper_org-browser-action {
    list-style-image: url("internet.png") !important;
    transform: scale(1.5);
}

/*  OneTab Original */
#extension_one-tab_com-browser-action {
    list-style-image: url("iron_swastika_by_shitdeviant-d5336zc.png") !important;
    transform: scale(1.5);
}








/*******************************************************************************/
/******************** DownThemAll-Releated Addons ******************************//*
#dta-manager-button {
    list-style-image: url("aaaarch.png") !important;
    transform: scale(1.2);
}

#dta-button {
    list-style-image: url("Arrow_right.png") !important;
    transform: scale(1.2);
}

#dta-turbo-button {
    list-style-image: url("Arrow_left.png") !important;
    transform: scale(1.2);
}

#dta-turboselect-button {
    list-style-image: url("if_Umbrella_605497.png") !important;
    transform: scale(1.2);
}
