/********************************************************************/
/********************        Overflow       *************************/
/********************************************************************/
#movable-overflow-button {
    list-style-image: url("Firefox.png") !important;
    transform: scale(1.4) !important;
}


/*  Icons-only Overflow Menu    */
/* Customize rows and columns for number and size of rows/cols you want */
#widget-overflow-fixed-list {
    display: grid;
    grid-template-rows: 45px 50px; /* two rows, the second one taller */
    grid-template-columns: 35px 35px 35px 35px 35px 35px 35px [col-end]; /* seven columns, with an anchorpoint at the end */
  transform: scale(1.1);
  margin-left: 10px;
}

/* Hides labels */
#widget-overflow-fixed-list .toolbarbutton-1 > .toolbarbutton-text {
    display: none !important;
}

/* Constrains width */
#widget-overflow-mainView {
    max-width: 325px !important;
    min-width: 325px !important;
}

/* Hides "Customize Toolbar..." button */
#overflowMenu-customize-button {
    display: none !important;
}

/* Adjusts spacing */
#widget-overflow-fixed-list .toolbarbutton-1 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
#widget-overflow-fixed-list {
    margin-top: -5px !important;
}

/**
 * Remove extra padding from tabs toolbar 
 *//*
 
.titlebar-spacer[type="pre-tabs"] {
  width: 0 !important;
}

.titlebar-spacer[type="post-tabs"] {
  width: 10px !important;
}

/**
 * Remove tab overflow scroll buttons 
 *//*
.scrollbutton-up, .scrollbutton-down {
  display: none;
}
/********************************************************************/
/*****************        floating findbar    ***********************/
/********************************************************************/

.findbar-closebutton, .findbar-case-sensitive,
.findbar-entire-word, .findbar-find-previous, .findbar-find-next {
    display: none !important;
}

findbar{
  -moz-box-ordinal-group: 0;
  margin-bottom: calc(0px - 2 * var(--toolbarbutton-inner-padding) -  25px);
  position: relative;
  border-top: none !important;
  transition: transform 82ms linear, opacity 82ms linear 32ms !important;
  background: none !important;
  pointer-events: none;
}

.findbar-container > .findbar-find-fast{
  padding: var(--toolbarbutton-inner-padding) 1px;
  margin: 0 !important;
}

findbar[hidden]{ transform: translateY(-30px);}

findbar > .findbar-container,
findbar > .close-icon{
  border: 1px solid var(--chrome-content-separator-color);
  border-width: 0 0 1px 0px;
  background: var(--uc-light-bkgnd-color,var(--toolbar-bgcolor)) !important;
  pointer-events: auto;
}
findbar > .findbar-container{
  -moz-box-direction: reverse;
  border-left-width: 1px;
}

findbar > .findbar-container > hbox{ margin: 0 5px }

findbar::before{
  content:"";
  display: -moz-box;
  -moz-box-flex: 100;
}

/*
Move findbar so it isn't over the scrollbar
Delete if you want findbar to begin from right window edge
*/
findbar{
  margin-right: 16px;
  border-right: 1px solid var(--chrome-content-separator-color);
}

