/********************************************************************/
/***************        Menubar in Tabstoolbar       ****************/
/********************************************************************/

#toolbar-menubar:not([inactive]) ~ #TabsToolbar {
  margin-top: -32px !important;
}
:root[sizemode="maximized"] #toolbar-menubar:not([inactive]) ~ #TabsToolbar {
  margin-top: -32px !important;
}
#PlacesToolbarItems, #PlacesToolbar, #PlacesToolbarDropIndicatorHolder {
    height: 32px !important;}
#toolbar-menubar:focus {z-index: 22 !important;}
#file-menu, #edit-menu, #view-menu, #history-menu, #bookmarksMenu, #tools-menu, #helpMenu {visibility: collapse}

