/********************************************************************/
/********************        Bookmarks       ************************/
/********************************************************************/

#PlacesToolbar .bookmark-item > .toolbarbutton-text {display: none !important;}

/* Small visual tweak so it looks exactly the same as if the bookmark really had no text */
#PlacesToolbar .bookmark-item > .toolbarbutton-icon  {
    margin-inline-end: 0px !important;
} 

#PlacesChevron .toolbarbutton-icon {
  min-width: 0px !important;
  min-height: 0px !important;
  width: 10px !important;
  height: 10px !important;
}

/* This changes all treechildren elements highlights (list-like elements) */
#bookmarks-view treechildren, #historyTree treechildren {color: #0a84ff}
treechildren::-moz-tree-row(hover) {
  background: var(--Lists-treechildren-hover-bg) !important;
border: var(--Lists-treechildren-hover-border) !important}

treechildren::-moz-tree-row(selected){
  background: var(--Lists-treechildren-selected-bg) !important;
border: var(--Lists-treechildren-selected-border) !important}

.popup-notification-body .menulist-label-box {
    color: #2fd281!important;
}

/* This changes all treechildren elements highlights (list-like elements) */
#bookmarks-view treechildren, #historyTree treechildren {color: #0a84ff}
treechildren::-moz-tree-row(hover) {
  background: var(--Lists-treechildren-hover-bg) !important;
border: var(--Lists-treechildren-hover-border) !important}

treechildren::-moz-tree-row(selected){
  background: var(--Lists-treechildren-selected-bg) !important;
border: var(--Lists-treechildren-selected-border) !important}





/********************************************************************/
/********************        Sidebar       **************************/
/********************************************************************/
#sidebar-header, #sidebar-throbber,
#sidebar-splitter, #viewButton {
    display: none
}
.sidebar-placesTreechildren {
    background: linear-gradient(45deg, #111 0%,#0c0c0d 4%, #0a84ff 11%, #2c2c2d 13%, #000 85%, #0a84ff 89%, #090909 93%, #000 1000%) !important;
}
#sidebar-search-container {
    background: linear-gradient(5deg, #111 0%,#0c0c0d 4%, #000 13%, #000 85%, #090909 93%, #000 1000%) !important;
}
#search-box {
    border: none !important;
    color: #ffaaff !important;    
}



