/********************************************************************/
/*******************        Statuspanel       ***********************/
/********************************************************************/
/* If you use a theme where urlbar is partially transparent you should edit this color to something that closely matches the perceived color of urlbar. Or perhaps use background-image - linear-gradient() can work well here. But keep the color or image opaque or otherwise you'll face an issue where urlbar text bleeds through */
#statuspanel-inner{ background-color: transparent !important;}


#statuspanel {
    position: fixed !important;
    opacity: 1 !important;
    background: transparent !important;
    border: none !important;
    bottom: 0px !important;
    right: 0px !important;
    max-width: 28% !important;
    margin-bottom: 0px !important;
    padding-top: 0px !important;
    transition: none !important;
}

#main-window:not([sizemode="fullscreen"]) #statuspanel[inactive] #statuspanel-inner::before {
      background:transparent !important;
      font-family: fontin  !important;
      font-size: 20px !important;
      font-weight: bold  !important;
      bottom: 0px !important;
      right: -65px !important;
      margin-bottom: 3px !important;
      padding-bottom: 0px !important;
      padding-top: 0px !important;
      padding-left: 0px !important;
      padding-right: 75px !important;
      position: fixed !important;
      content: "tortious" !important;
  }

#statuspanel[inactive] #statuspanel-label {
      display: none !important;
  }

#statuspanel #statuspanel-inner {
      background:transparent !important;
      border: none !important;
      margin-right: 0px !important;
}
  
  
#statuspanel #statuspanel-label {
      background: /*linear-gradient(to bottom, #000000 0%,#1c1e23 50%,#000000 100%) !important; */
    transparent !important;
      border: none !important;
    text-align: center !important;
      font-weight: bolder;
    font-style:  oblique !important;
      font-family: tallys;
    font-size: 16px;
      padding-top: 0px !important;
      margin-bottom: 0px !important;
    
}
