/*  Import Custom Dark theme addon popups   */

@import 'Addons.css';
@import 'about-firefox.css';

@-moz-document  url-prefix(chrome://mozapps/content/extensions/aboutaddons.html) {

	panel-item[action="expand"] {
	  display: none !important;
	}

}

/* REMOVE WHITE FLASH BEFORE PAGE LOAD */ 

@-moz-document url-prefix(about:), url-prefix(chrome://browser) , browser[type="content"], tabpanels {
        background: #1a1a1a !important;
}


/* Removes white loading page *//*  have not tried this yet n dont need it  *//*

@-moz-document url(about:blank), url(about:newtab), url(about:home) {
    html:not(#ublock0-epicker), html:not(#ublock0-epicker) body, #newtab-customize-overlay {
      background: #1d2021 !important;
    }
  }
  

  /* Hide scrollbar *//*
  
  :root{
    scrollbar-width: none !important;
  }
  }
  
  @-moz-document url(about:privatebrowsing) { 
  
  :root{
    scrollbar-width: none !important;
  }
  }
/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


@import "./addonlists_compact_fx72.css";

@namespace html "http://www.w3.org/1999/xhtml";
@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";


@-moz-document  url-prefix(chrome://mozapps/content/extensions/aboutaddons.html) {
	
	:root {
	  --addon-icon-size: 16px !important;
	}

	.addon.card .addon-description {
	  display: none !important;
	}
	
	addon-list[type="theme"] .addon.card {
	  min-height: 0px !important;
	}
	
	:-moz-any(plugin-options, addon-options) > panel-list {
	  margin-top: -23px !important;
	}
	
	link:-moz-any([href$="panel-item.css"],[href$="panel-list.css"]) ~ button {
	  padding: 0px 2px !important; 
	}

}



@-moz-document  url-prefix(chrome://mozapps/content/extensions/aboutaddons.html) {
	
  a.addon-badge-recommended,
  div.addon-badge-recommended  {
	display: none !important;
  }
	
}




@-moz-document  url-prefix(chrome://mozapps/content/extensions/aboutaddons.html) {
	
	panel-item[action="report"] {
	  display: none !important;
	}

}



@-moz-document  url-prefix(chrome://mozapps/content/extensions/aboutaddons.html) {
	.addon.card:not(:hover) .more-options-menu panel-list {
	  display: none !important;
	  visibility: hidden !important;
	}
}








/* Multi-column addons for html addons manager available in Firefox 68 */
/* You can use compact_addons_manager.css with this to make things even more, well, compact  */
/* Compatible with addon_manage_buttons_without_popup.css */

@-moz-document url-prefix("chrome://mozapps/content/extensions/aboutaddons.html"){
  
  :root{  overflow-x: hidden } /* Remove this if it causes horizontal scrolling problems */
  
  @media (min-width:720px){
    #main{ max-width: unset !important; padding-right: 28px; }
    addon-list > section,
    recommended-addon-list{
      padding: 1em;
      display: grid;
      grid-template-areas: "hd hd" "cd cd";
      grid-template-columns: 1fr 1fr;
      column-gap: 1em;
     
    }
  
    addon-card .card-contents{ width: unset !important; white-space: initial !important; }
  
    .card-heading-image{ max-width: calc(100% + 32px) }
    section > h2{ grid-area: hd }
    addon-card{
      padding-bottom: 0px !important;
      padding-top: 0px !important;
      grid-area: auto;
    }
    addon-card .addon-description{ max-height: 3em; scrollbar-width: thin; }
  }
  
  @media (min-width:1220px){
    addon-list > section,
    recommended-addon-list{
      grid-template-areas: "hd hd hd" "cd cd cd";
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  @media (min-width:1720px){
    addon-list > section,
    recommended-addon-list{
      grid-template-areas: "hd hd hd hd" "cd cd cd cd";
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  
}



/*------ MOZILLA ADDONS PAGE ------*/
@-moz-document url-prefix(https://addons.mozilla.org) {
html, .App-content, tr.LanguageTools-table-row:nth-child(even), 
.Card-footer, .Paginate, section.scheme-light, section.scheme-default, .Page-content
{background: #202020 !important}

.scheme-medium {background-color: #1d3770 !important}

.App-amo, .Header, footer.Footer, footer.show-on-desktop {background: #151517 !important}

footer h4 {color: #ddd !important}

tr.LanguageTools-table-row:nth-child(odd) {background-color: #252525 !important}

#react-autowhatever-1 * {background-color: #303030 !important}

.Hero, .Card-contents, .Home-SubjectShelf .Card-contents,
.CardList .Card-header, .CardList .Card-contents, a.SearchResult-link, 
.Card-contents, .Card-header, ul.AddonsCard-list li.SearchResult, ul.AddonsCard-list,
.ExpandableCard .Card-header, span .Paginate-item.disabled.Paginate-previous, 
.Card-footer-text, .Card-footer-link, a.ShowMoreCard-expand-link,
a.Addon-all-reviews-link, .MetadataCard, .Card-contents ul li, .LandingPage-header,
.highlight, .AutoSearchInput-query, .Search .SearchResults-message, .DevHub-callout-box,
.SecondaryHero-module {
	background-color: #303030 !important;
	color: #ccc !important}

.SearchResult-wrapper:hover {background-color: transparent !important}

.DevHub-callout-box {border: 8px solid #963 !important}

.AddonMoreInfo .Card-content {color: #aaa !important}

.SecondaryHero-module-icon {filter: invert(80%)}

.ShowMoreCard-contents::after 
{background: linear-gradient(rgba(48, 48, 48, 0.3), #303030) !important}

.Notice-warning {background-color: #963 !important}

.HeroSection-content {color: #fff !important}

.Search .AddonsCard-list .SearchResult, .Hero-name-HomeHeroGuides {border-bottom: 1px solid #000 !important}

.PermissionsCard-list .Icon {filter: brightness(700%) !important}

button:not(.pswp__button):not(.pswp__ui):not(.AutoSearchInput-submit-button):not(.Icon-arrow):not(.DropdownMenu-button):not(.AddonReviewCard-control), 
.PermissionCard-learn-more, #CollectionSort-select, .AMInstallButton-loader, select.SearchFilters-select {
	background-color: #404040 !important;
	color: #FFF !important}

button:not(.pswp__button):not(.pswp__ui):not(.AutoSearchInput-submit-button):not(.Icon-arrow):not(.DropdownMenu-button):not(.AddonReviewCard-control):not(.Paginate-item):hover, 
.PermissionCard-learn-more:hover, #CollectionSort-select:hover {
	background-color: #252525 !important;
	color: #1494FB !important}

button.Button--action {
	background-color: #004db3 !important; color: #fff !important}
button.Button--action:hover {
	background-color: #002c66 !important}

a.Categories-link {filter: saturate(50%) !important}

button.DropdownMenu-button, ul.LanguageTools-addon-list li {background-color: transparent !important}

.Guides-header .Guides-header-icon {background-color: transparent !important; border: none !important}

ul.DropdownMenu-items, ul.TooltipMenu-list, ul.TooltipMenu-list li.ListItem, 
.DropdownMenu-items[aria-hidden="false"]::after {
	background-color: #202020 !important}

ul.TooltipMenu-list li.ListItem, ul.LanguageTools-addon-list li, .highlight 
{border: none !important}

th.LanguageTools-header-cell {background-color: #101010 !important}

.Home-SubjectShelf-link:hover span, 
.HomeHeroGuides-section:hover .HomeHeroGuides-section-title
{color: #0d96ff !important}

.Home-SubjectShelf-link:link, .Home-SubjectShelf-link:visited 
{color: #343a40 !important}

a.SearchResult-link h2, span, label *, p, a, h4, h2, blockquote, 
li, .Guides-section-explore-more, .HomeHeroGuides-header-subtitle,
#lang_form label
{color: #ccc !important}

a.SectionLinks-dropdownlink:not(:hover), 
a.SectionLinks-clientApp-android:not(:hover) {color: #aaa !important}

.Paginate .Paginate-item, li.p-popular {background-color: #303030 !important}
.Paginate a.Paginate-item:hover {background-color: #151515 !important}

.Paginate .Paginate-item {margin-left: 3px !important; margin-right: 3px !important}

a.SearchResult-link:hover h2, a:not(.Button):hover,
.SearchResult-wrapper:hover .SearchResult-link {color: #1494FB !important}

h2.Home-SubjectShelf-subheading, .CardList h2.Card-header, 
h1, .Paginate-page-number, .Badge, a.Button.Categories-link,
h3, .Guides-section-title, ul.DropdownMenu-items .SectionLinks-subheader, 
.Card-contents dt, .CardList header.Card-header, .HomeHeroGuides-header-title,
.Card-contents a.Categories-link
{color: #FFF !important}

.AddonTitle-author a {text-shadow: 0 0 2px #1494FB !important}

.install strong {color: #FA0 !important}

.AMInstallButton-button--uninstall {background-color: #882626 !important}
.AMInstallButton-button--uninstall:hover {background-color: #aa3333 !important; color: #fff !important}

input.SearchForm-query, 
input#search-q, textarea {
	background-color: #202020 !important;
	color: #FFF !important}

.SearchFilters-label {color: #ddd !important}

.Button {color: #fff !important}

/* Checkbox coloring */
input[type="checkbox"] {
  -moz-appearance: none !important;
  border: 1px solid #666 !important;
  background-color: #444 !important;
  transition: color 0.3s;
  min-width: 12px;
  min-height: 12px;
  margin-bottom: 0 !important}

input[type="checkbox"]:not([disabled]):hover {
  box-shadow: 0 0 4px #0084ff !important;
  border-color: #0084ff !important}

input[type="checkbox"]:checked {
  background: #444 url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15px" height="15px" viewBox="0 0 16 16" ><path fill="rgb(200,200,200)" d="M 13.09,2.87 C 13.09,2.87 6.00,11.00 6.00,11.00 6.00,11.00 2.00,9.00 2.00,9.00 4.25,12.81 7.00,14.00 7.00,14.00 9.24,10.42 12.04,7.39 13.09,2.87 Z" /></svg>') no-repeat center center !important}

/* Select boxes coloring */
select {
  -moz-appearance: none !important;
  background: #444 url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M434.574 488L430.5 492.147 426.428 488 425 489.399 430.5 494.999 436 489.399z' transform='translate(-425 -488)' fill='%23cccccc' fill-rule='evenodd'/%3E%3C/svg%3E") no-repeat calc(100% - 5px) 50% !important;
  border: none !important;
  padding: 3px;
  color: #ccc !important}

select:hover {
  background: #222 url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M434.574 488L430.5 492.147 426.428 488 425 489.399 430.5 494.999 436 489.399z' transform='translate(-425 -488)' fill='%23cccccc' fill-rule='evenodd'/%3E%3C/svg%3E") no-repeat calc(100% - 5px) 50% !important;
  color: #fff !important}

select .menulist-dropmarker {display: none}
}

/*------ MOZILLA LOGIN PAGE (The login page inside https://addons.mozilla.org) ------*/
@-moz-document url-prefix(https://accounts.firefox.com) {

html, body {background-color: #202020 !important}

#stage #main-content.panel {
	background: #303030 !important;
	color: #ccc !important}

.card, .firefox-family-services, .settings-child-view  {
	background: #404040 !important;
	color: #ccc !important}

.secondary-button {background-color: #666 !important; color: #ddd !important}
.secondary-button:hover {background-color: #888 !important; color: #fff !important}

h1, h2 {color: #fff !important}

p, label {color: #ccc !important}

form input::placeholder {color: #aaa !important}

a{color: #0d96ff !important}

a:hover{color: #0080dd !important}

form input:not([type="radio"]), .show-password-label {
	background-color: #444 !important;
	color: #ccc !important}
}

/*------ MOZILLA SUPPORT PAGE (https://support.mozilla.org) ------*/
@-moz-document url-prefix(https://support.mozilla.org/) {

html, body {background-color: #202020 !important}

h1, h2 {color: #fff !important}
h3, h4 {color: #ddd !important}
p:not(.main-content) {color: #ccc !important}

a:link {color: var(--in-content-link-color) !important}
a:visited {color: var(--in-content-link-color) !important}
a:hover {color: var(--in-content-link-color-hover) !important}
a:active {color: var(--in-content-link-color-hover) !important}

#announcements, #product-cards .icon {background: transparent !important}
#announcements .announce-bar {background-color: #555 !important}

body > header {
	background: #101010 !important;
	border-top: none !important;
	border-bottom: none !important;
	color: #ccc !important}

a.btn, a.volunteer-button {color: #fff !important}
.footer-logo {fill: #ddd !important}

#aux-nav li a, .question-meta li, .asked-on, .asked-by,
.footnote, #selected-product, .inner-wrap .legend li, #tagged,
div {color: #ccc !important}
#aux-nav li a:hover {background-color: rgba(0,0,0,0.5) !important}

#main-breadcrumbs {background: #444 !important}
#main-breadcrumbs li:not(a), .card-grid > li > a,
.product-list .product a, .sidebar-header {color: #ccc !important}

.answers .notice, .karma-titles li, .warning, #toc, #doc-content .note, 
.tag-list a, .wiki-doc .vote-wrap {
	background-color: #333 !important; 
	color: #ccc !important;
	border: 1px solid #666 !important}

.search-filter, .search-filter li, .questions-sidebar .sidebar-header {background-color: transparent !important}

.search-filter img, .result::before, .questions-sidebar .collapse, .topic-icon {filter: invert(100%)}

.main-content, #try-an-article, .grid_6 article, #pw-reset,
#retrieve-username, .hero-bar, .row .content-box, .highlight-box, .wiki-doc {
	background-color: #444 !important; 
	border-radius: 6px !important; 
	color: #ccc !important}

#doc-content tr:nth-child(2n+1) {background: #333 !important}

.warning-box {
	background: #775 !important;
	border-color: #664 !important}

.main-content::before {filter: brightness(27%) !important}

.sidebar-nav > li > span, .sidebar-nav .sidebar-nav > li > span, 
.sidebar-nav .sidebar-nav > li > a, .sidebar-nav .sidebox, .sidebar-nav > li > a,
#email-subscribe-kbox, #showfor-panel,
#register-form, .subtopics > li > a {background-color: #444 !important; color: #ccc !important}
.sidebar-nav > li > span:hover, .sidebar-nav .sidebar-nav > li > a:hover {color: var(--in-content-link-color) !important}

.button-wrapper .btn, .button-wrapper .btn, .help-title-prefix, .help-title,
.help-link.cf {color: #fff !important}

.sidebar-nav a, #products-and-services li, .card-grid li {border-color: #666 !important}

#products-and-services li, .card-grid li {box-shadow: inset 0 -2px 0 0 #666 !important} 

.cf::before, #document-list > ul > li > a::before, .submit-button {filter: invert(50%)}

.topic-list, #search-results-list .content-box {
	background-color: #444 !important;
	border: 1px dotted #666 !important;
	padding: 10px !important}

#doc-content .key, #doc-content .button {
	background: linear-gradient(to bottom,#333,#222) !important;
	border-color: #555 !important;
	color: #ccc !important}

span.menu {background-color: #222 !important; color: #ddd !important}

.sidebox.condensed {border-color: #373737 !important}

.card-grid > li, .card-grid > li::before, .bullet, .feature-box .inner-wrap, .product-list .product,
.sidebar-header, .questions > section, #top-contributors .feature-box {background: #444 !important}

.questions > section .thread-meta {background: #555 !important; border: none !important}

.feature-box .inner-wrap {border: none !important}

.sidebar-nav.sidebar-folding > li.selected > span, .feature-box, .sidebar-nav .selected:not(.subtopic) a {border-color: #822 !important}
.sidebar-nav.sidebar-folding > li.selected > span::before, .sidebar-nav .selected a::before {filter: brightness(25%) !important}

.sidebar-nav a:hover {background-color: #404040 !important; color: var(--in-content-link-color) !important}

.sidebar-nav > li.selected {border-bottom: #373737 !important}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="date"], 
textarea {
	background: #333 !important; 
	color: #ccc !important; 
	box-shadow: 0 0 0 1px #333 !important;
	border-color: #555 !important}

input[type="text"]:focus, input[type="password"]:focus {border-color: #1494FB !important}

#search-q {border: 2px solid #333 !important}

.simple-search-form .searchbox {
	background: #444 !important}

.simple-search-form input {color: #ccc !important}

#email-subscribe-kbox input[type="submit"], #retrieve-username input[type="submit"], 
#pw-reset input[type="submit"], .btn, span.button, .volunteer-button, button.btn {
	background: #2050AA !important;
    color: #FFF !important;
    padding: 0.5em;
	border: none !important;
	box-shadow: none !important}

#email-subscribe-kbox input[type="submit"]:hover, #retrieve-username input[type="submit"]:hover, 
#pw-reset input[type="submit"]:hover, .btn:hover, .volunteer-button:hover, button.btn:hover {
	background: #203050 !important}

.questions #owner-tabs a.selected, .questions #owner-tabs a:hover.selected {background: #444 !important}

.questions #filter-section {background: linear-gradient(to bottom, #444,rgba(70,70,70,0.01)) !important}

footer {background: #111 !important}

/* Select boxes coloring */
select {
  -moz-appearance: none !important;
  background: #444 url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M434.574 488L430.5 492.147 426.428 488 425 489.399 430.5 494.999 436 489.399z' transform='translate(-425 -488)' fill='%23cccccc' fill-rule='evenodd'/%3E%3C/svg%3E") no-repeat calc(100% - 5px) 50% !important;
  border: none !important;
  padding: 3px;
  color: #ccc !important;
  margin-top: 6px !important}

select:hover {
  background: #353535 url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M434.574 488L430.5 492.147 426.428 488 425 489.399 430.5 494.999 436 489.399z' transform='translate(-425 -488)' fill='%23cccccc' fill-rule='evenodd'/%3E%3C/svg%3E") no-repeat calc(100% - 5px) 50% !important;
  color: #fff !important}

select .menulist-dropmarker {display: none}

/* Checkbox coloring */
input[type="checkbox"] {
  -moz-appearance: none !important;
  border: 1px solid #666 !important;
  background-color: #444 !important;
  transition: color 0.3s;
  min-width: 12px;
  min-height: 12px;
  margin-top: 6px !important;
  margin-bottom: 0 !important}

input[type="checkbox"]:not([disabled]):hover {
  box-shadow: 0 0 4px #0084ff !important;
  border-color: #0084ff !important}

input[type="checkbox"]:checked {
  background: #444 url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15px" height="15px" viewBox="0 0 16 16" ><path fill="rgb(200,200,200)" d="M 13.09,2.87 C 13.09,2.87 6.00,11.00 6.00,11.00 6.00,11.00 2.00,9.00 2.00,9.00 4.25,12.81 7.00,14.00 7.00,14.00 9.24,10.42 12.04,7.39 13.09,2.87 Z" /></svg>') no-repeat center center !important}
}




@-moz-document url-prefix(chrome://mozapps/content/extensions/extensions.xul), url-prefix(about:addons),url-prefix(chrome://mozapps/content/extensions/aboutaddons.html) {

	#list-view #private-browsing-notice {
		display: none !important;
	}

}



html body div#main div addon-list section addon-card div.card.addon message-bar.addon-card-message {
    display: none !important;
}




/*  Hide "Recommended" Section on about:addons page */
html body div#main div recommended-extensions-section {display: none !important}


/*******************************************************************************/
                /*  Hiding/Altering Stuff on about:addons Page  */
/*******************************************************************************/


#category-extension .category-icon {padding-top: 5px !important; transform: scale(1.5,1.5) !important;}
#category-theme .category-icon {transform: scale(1.5,1.5) !important;}

#category-extension {padding-top: 15px; padding-bottom: 15px;}


window#addons-page stack#main-page-stack hbox#main-page-content vbox#category-box {
    width: 200px !important;
}


#header-utils-btn {color: #00eeff !important}
#helpButton, #preferencesButton {display: none !important}


/*  edits to the searchbar up to of about:addons    */
#header-search {
    border-color: #00eeff !important;
    margin-left: -200px !important;
    height: 31px !important;
    
}


#category-locale, #category-discover, #category-plugin {display: none !important}

#category-extension .category-name {display: none !important; width: 20px !important}
#category-theme .category-name {display: none !important; width: 20px !important}

#category-extension .category-name:hover {background: transparent !important}
#category-theme .category-name:hover {background: transparent !important}

#category-extension .category-name:selected {background: transparent !important}
#category-theme .category-name:selected {background: transparent !important}

#heading-name {display: none !important}
#search-label {display: none !important}





#category-box {margin-top:5px !important; margin-right: -100px !important}

window#addons-page stack#main-page-stack hbox#main-page-content vbox.main-content deck#view-port vbox#headered-views hbox#header hbox#header-inner search-textbox#header-search input.textbox-input
{
    color: #fea454 !important;
}

.textbox-search-icons {display: none !important}

.list-section-heading {color: #ff5582 !important}


