/* DO NOT DELETE THIS LINE */

/* This enables the use of JS external files */
hbox#fullscr-toggler {
    -moz-binding: url("userChrome.xml#js")} 
/*********************************************************************************/
@import 'floating-findbar.css';
@import 'sidebar-stuff.css';
@import 'coloring-n-removals.css';
@import 'custom-toolbarbuttons.css';
@import 'status-panel.css';
@import 'menubar-in-tabstoolbar.css';
@import 'misc-stuff.css';
@import 'minimal-text-fields.css';
/*********************************************************************************/
/*********************************************************************************/

/*:root{
    --multirow-n-rows: 3;
    --multirow-tab-min-width: 100px;
    --multirow-tab-dynamic-width: 0; /* Change to 0 for fixed-width tabs using the above width. */
/*}*/



/********************************************************************/
/********************        Grouping       *************************/
/********************************************************************/
#titlebar {-moz-box-ordinal-group: 0}
#toolbar-menubar {-moz-box-ordinal-group: 2;}
#TabsToolbar, #TabsToolbar-customization-target {-moz-box-ordinal-group: 1;}
#nav-bar {-moz-box-ordinal-group: 2}
#PersonalToolbar {-moz-box-ordinal-group: 3;}
#addonbar {-moz-box-ordinal-group: 7;}

#TabsToolbar, #TabsToolbar-customization-target, #nav-bar, 
#nav-bar-customization-target, 
#PersonalToolbar {
  height: 31px;
}









#pagetitle-bar {
  font-family: /*blackchancery*/ walkaway black;
  font-weight: bold;
  margin-top: 0px;
  font-size: 16px;
  min-width: 365px;
}


/********************************************************************/
/**********************        Primary       ************************/
/********************************************************************/
/*#nav-bar {height: 29px}*/

/*  Hidden navbar/urlbar unless focused */
:root:not([customizing]) #urlbar {opacity: 0}
:root:not([customizing]) #urlbar:focus-within {opacity: 1 !important;/*
display: flex*/}

:root:not([customizing]) #nav-bar
{
    min-height: 1px !important;
    max-height: 1px !important;
    margin-bottom: -1px !important;
    z-index: -1 !important;
}

:root:not([customizing]) #nav-bar:focus-within {
    min-height: 32px !important;
    max-height: 32px !important;
    margin-top: -32px !important;
    z-index: 11 !important;
}



/********************************************************************/
/********************        TabsToolbar       **********************/
/********************************************************************/

/* Hide the 2px highlight line above tabs. */
#main-window:not([customizing]) .tab-line {
  display: none !important;
}

/* Remove the 1px top border */
#main-window:not([customizing]) .tab-background {
  border-top: 0 !important;
}

/* Tab underline */
#main-window:not([customizing]) .tab-background {
  box-shadow: inset 0 -1px rgba(0, 0, 0, var(--tab-underline-opacity));
}

/*  Remove bg highlight when hovering tabs  */
#tabbrowser-tabs .tabbrowser-tab .tab-background {
  background-color: transparent !important;
}
/*  Remove Highlight Background of current tab  */
.tabbrowser-tab [selected] {background: none !important;}

/*  Remove Tab Sound Icon */
.tab-sound-icon {display: none}

#TabsToolbar {-moz-window-dragging: no-drag !important;}

#Tabbrowser-tabs .close-icon {display: none !important;}
.tab-bottom-line {display: none !important;}
.tab-loading-burst {display: none}
.tab-line {color: green !important}
.tab-label-container {display: none}
#new-tab-button {display: none}
#alltabs-button{display: none}
toolbarbutton.scrollbutton-up {display: none}
toolbarbutton.scrollbutton-down {display: none}

/*  Center all inside tab   */
.tab-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1px;
}
/* Force tab favicon to the center */
.tabbrowser-tab:not([class*="identity-color-"]) .tab-throbber, .tabbrowser-tab:not([class*="identity-color-"]) .tab-throbber-fallback {
  margin-left: auto;}
.tabbrowser-tab:not([busy]):not([class*="identity-color-"]) .tab-icon-image {
  margin-left: auto;}

/*  Increase size of tab icon   */
.tab-icon-image {margin-inline-end: 0px !important;
    transform: scale(1.1)}

/* Remove tab separators */
.tabbrowser-tab:after, .tabbrowser-tab:before {display: none !important;}

/*  Reduce size of tabs */
.tabbrowser-tab[fadein] {
    max-width: 36px !important;
    min-width: 36px !important;
}



.tabbrowser-tab[selected] .tab-icon-image {display: -moz-box}





/********************************************************************/
/*********************        urlbar       **************************/
/********************************************************************/

#urlbar ::-moz-selection,
.searchbar-textbox ::-moz-selection {
  background: var(--in-content-selected-text-background)!important;
  color: /*#1dc7f3*/ /*#feaf60*/ #fdff85;
}

#urlbar:not([focused]) #urlbar-input { text-align: center !important; }

#urlbar {
    background: transparent !important;
    color: /*#1db8ff*/  #02BCFF !important;
    font-family: coolvetica !important;
    font-size: 16px !important;
    text-align: center !important;
}

.urlbarView-row:hover, .urlbarView-row[selected] {
background-color: #9000d8 !important;
}


/*  removes padding space on left side of urlbar results  */
.urlbarView-results {margin-left: -20px !important;}


/*  remove urlbar shield icon   */
#tracking-protection-icon-container {display: none !important}



/*  center text - attempt dec 2019  */
#urlbar #urlbar-input {
text-align: center !important;
}



/* Remove " - Visit" or " - Search with" bar in the drop-down */
#PopupAutoCompleteRichResult richlistitem:first-of-type[type*="heuristic"],
#PopupAutoCompleteRichResult richlistitem:first-of-type[actiontype="searchengine"],
#PopupAutoCompleteRichResult richlistitem:first-of-type[actiontype="visiturl"],
#PopupAutoCompleteRichResult richlistitem:first-of-type[actiontype="keyword"],
panel#urlbar-results #urlbarView-row-0 {
    display:none !important;
  }

/* Hide line for searching sld.tld below "Visit" Line */
  #PopupAutoCompleteRichResult richlistitem:first-of-type[actiontype="visiturl"] +
  richlistitem[actiontype="searchengine"] {
    display:none !important;
  }
/* Hide separator between title and URL */
  #PopupAutoCompleteRichResult .autocomplete-richlistitem:not([actiontype="searchengine"]) .ac-separator,
  .urlbarView-row:not([type="search"]) .urlbarView-title-separator {
    display: none !important;
  }
/* Prevent excess indenting of icons in Photon */
  #PopupAutoCompleteRichResult .autocomplete-richlistitem [anonid="type-icon-spacer"],
  panel#urlbar-results .autocomplete-richlistitem [anonid="type-icon-spacer"] {
    display: none !important;
  }
#identity-box .desktop-notification-icon {
    display: none !important;
}


/* box-shadow: none !important; */
#urlbar-container {
    margin-top: 0px !important;
}

#urlbar-input::placeholder, #searchbar .textbox-input::placeholder {opacity: 0 !important;}

/* Remove border from url bar*/
#urlbar {
  border-width: 0px !important;}
/**
 * Center address in urlbar and prevent it from shifting.
 * Hide unnecessary elements to clean up UI.
 */

/* Hide "search with Google" placeholder text */
#urlbar html|input#urlbar-input::placeholder {
  opacity: 0 !important;
}
/* Keep consistent margin across all URL states. Needed to ensure constant width of #identity-box */
#identity-box {
  margin-inline-end: 4px !important;
  padding-inline-end: 8px !important;}


#urlbar-results .urlbarView-row {
  position: relative !important;
}
#urlbar-results .urlbarView-row .urlbarView-title {
  position: absolute !important;
  display: block !important;
  right: 10px !important;
  top: 4px !important;
}
#urlbar-results .urlbarView-row .urlbarView-url {
  position: inherit !important;
  display:block !important;
  left: 10px !important;
  top: 4px !important;
}


/* Page action buttons always occupy their space */
#urlbar[pageproxystate="invalid"] > #page-action-buttons > #pageActionButton,
#urlbar[pageproxystate="invalid"] > #page-action-buttons > #star-button-box {
  -moz-box-ordinal-group: 0;
  display: -moz-box !important;
  visibility: hidden !important;
  pointer-events: none;
}

/* Minimize some spacing */
#pageActionSeparator {
  visibility: collapse !important;
}

/* #page-action-buttons > :not([hidden]) ~ #pageActionSeparator {
  visibility: visible !important;
  margin: 0 4px !important;
} */


/* Don't show "Switch to tab" text */
#urlbar-display-box {
  display: none !important;
}











/********************************************************************/
/*****************        [insert topic]       **********************/
/********************************************************************/
/*  This puts tabs on bottom and MUST be done up here   *//*
#TabsToolbar, #TabsToolbar-customization-target {
    position: fixed !important;
    bottom: 0px !important;
    display: flex !important;
    width: 100% !important;
    height: 30px !important;
}
#tabbrowser-tabs {width: 70%}
#browser-bottombox {margin-bottom: 30px}
*/
/********************/
/*  code for one-liner w/ tabstoolbar on left   */
/*:root:not([customizing]) #TabsToolbar {
    margin-top: -30px !important;
  margin-right: 30vw !important;
}
:root:not([customizing]) #nav-bar {             /* One-liner*/     /*
  margin-top: 0px;
  margin-left: 70vw !important; 
  border-top: none !important;
} 
/********************/





/********************/






/********************/
/*  something called symbolic tab icons; have not tried yet */

/* Icons light/dark fix coloring hack filters *//*
:root {
	--sweet-convert-icon-to-symbolic-hack-filter: invert(100%) sepia(100%) grayscale(100%) brightness(200%) brightness(85%) invert(100%);
}
@media (prefers-color-scheme: dark) {
	:root {
		--sweet-convert-icon-to-symbolic-hack-filter: invert(100%) sepia(100%) grayscale(100%) brightness(200%) brightness(85%);
	}
}

/* Make tab icons look kinda like symbolic icons *//*
tab .tab-icon-image {
	filter: var(--sweet-convert-icon-to-symbolic-hack-filter);
}
*/





/********************/

/********************************************************************/
/********************        Grouping       *************************/
/********************************************************************/


























/**
 * Remove extra padding from tabs toolbar 
 *//*
 
.titlebar-spacer[type="pre-tabs"] {
  width: 0 !important;
}

.titlebar-spacer[type="post-tabs"] {
  width: 10px !important;
}

/**
 * Remove tab overflow scroll buttons 
 *//*
.scrollbutton-up, .scrollbutton-down {
  display: none;
}
*/
